<div class="tgimbaComponent">
    <div class="tgimbaForm">
        <table>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Username:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="text" id="USER_CONTROL_LOGIN_USERNAME" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Password:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="password" id="USER_CONTROL_LOGIN_PASSWORD" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <input type="button" class="button" id="hvJsLoginBtn" value="Login" onclick="LoginController.Login()" />
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="button" class="button" id="hvJsRegisterPanelBtn" value="Register" onclick="RegistrationController.Index()" />
                </td>
            </tr>
        </table>
    </div>
</div>
