<div id="body" class="welcomeBody">
    <div id="loginOptions">
        <input type="button" 
               class="button" 
               id="htmlVanillaJsLogin" 
               onclick="WelcomeController.VanillaJSLogin();" 
               value="Vanilla JS Client Login" />
        <br />
        <input type="button" 
               class="button" 
               id="angularTypeScriptLogin" 
               onclick="WelcomeController.AngularTypeScript();" 
               value="Angular TypeScript Client Login" /
        ><br />
        <input type="button" 
               class="button" 
               id="reactReduxJsLogin" 
               onclick="WelcomeController.ReactReduxJSLogin();"
               value="React Redux JS Client Login" />
    </div>
    <div id="welcomeTitle">
        <h2>Welcome to The Globe In My BucketList Application (TGIMBA)</h2>
    </div>
    <div id="systemStatistics" />
</div>