<div class="statisticsPanel">
    <div class="systemStatistics">
        <table>
            <tr>
                <!-- replace '-' with blinking cell -->
                <td class="horizontalLineOff" colspan="2"> - </td>
                <td> Azure Function </td>
                <!-- replace '-' with blinking cell -->
                <td class="horizontalLineOff" colspan="2"> - </td>
            </tr>
            <tr>
                <!-- replace | with blinking cell -->
                <td class="verticalLineOff"> | </td>
                <!-- replace | with blinking cell -->
                <td colspan="3">  </td>
                <td class="verticalLineOff"> | </td>
            </tr>
            <tr>
                <td>Website</td>
                <!-- replace --- with blinking cell -->
                <td class="horizontalLineOff"> - </td>
                <td>API</td>
                <!-- replace '-' with blinking cell -->
                <td class="horizontalLineOff"> - </td>
                <td>Database</td>
            </tr>
        </table>
    </div>
    <div class="buildStatistics">
        <p>build system partial view</p>
    </div>
</div>