@model TgimbaNetCoreWeb.Models.ReportDisplayModel

@if (!string.IsNullOrEmpty(Model.Report))
{
    <div>
        <input type="button" value="Refresh" onclick="location.reload();"
    </div>
    <div>
        @Html.Raw(@Model.Report)
    </div>
}
else
{
    <p>Report error...</p>
}

