<div class="tgimbaComponent">
    <div class="tgimbaForm">
        <table>
            <tr>
                <td class="tgimbaForm centerLabel">
                    <input type="button" class="button" id="hvJsAddBucketListItemBtn" value="Add" onclick="MenuController.AddBucketListItem()" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm centerLabel">
                    <input type="button" class="button" id="hvJsSortBucketListItemBtn" value="Sort" onclick="MenuController.SortBucketListItem()" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm centerLabel">
                    <input type="button" class="button" id="hvJsRunAlgorithmBtn" value="Run Algorithm" onclick="MenuController.RunAlgorithm()" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm centerLabel">
                    <input type="button" class="button" id="hvJsLogOutBtn" value="LogOut" onclick="MenuController.LogOut()" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm centerLabel">
                    <input type="button" class="button" id="hvJsCancelBtn" value="Cancel" onclick="MenuController.Cancel()" />
                </td>
            </tr>
        </table>
    </div>
</div>
