<div class="tgimbaComponent">
    <table width="100%">
        <tr>
            <td style="text-align:center">
                <input type="button" id="hvJsAddBucketListItemBtn" value="Add" onclick="MenuController.AddBucketListItem()" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="button" id="hvJsSortBucketListItemBtn" value="Sort" onclick="MenuController.SortBucketListItem()" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="button" id="hvJsRunAlgorithmBtn" value="Run Algorithm" onclick="MenuController.RunAlgorithm()" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="button" id="hvJsLogOutBtn" value="LogOut" onclick="MenuController.LogOut()" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="button" id="hvJsCancelBtn" value="Cancel" onclick="MenuController.Cancel()" />
            </td>
        </tr>
    </table>
</div>