<h1>Angular 9 Type Script - Main</h1>
<div style="text-align:center; width: 100%">
	<table>
		<tr>
			<td> 					
				<button (click)="ShowMainMenu()" id="btnMainMenu">Menu</button>
			</td>								   
			<td>
				<select [(ngModel)]="selectedSearchAlgorithm" id="USER_CONTROL_SEARCH_ALGORITHM">
					<option *ngFor="let searchAlgorithm of searchAlgorithms" [ngValue]="searchAlgorithm">{{searchAlgorithm}}</option>
				</select>
				<input type="text" [(ngModel)]="searchTerm" id="USER_CONTROL_SEARCH_TEXT_BOX" />
				<button (click)="Search()" id="USER_CONTROL_SEARCH_BUTTON">Search</button>
				<div id="cancelSrchResults" style="display:none">
					<p>Viewing Search Results</p>
					<button (click)="Cancel()" id="USER_CONTROL_CANCEL_BUTTON">Cancel</button>
				</div>
			</td>
		</tr>		
	</table>
	<div *ngFor="let bucketListItem of htmlTableWData" id="bucketListItems">
		<table border="1">
			<tr>					  
			   <td>{{bucketListItem.number}}</td> 
			   <td>Name: {{bucketListItem.name}}</td> 
			   <td>DateCreated: {{bucketListItem.dateCreated}}</td>
			   <td>BucketListItemType: {{bucketListItem.bucketListItemType}}</td>
			   <td>Completed: {{bucketListItem.completed}}</td>
			   <td>Latitude: {{bucketListItem.latitude}}</td>
			   <td>Longitude: {{bucketListItem.longitude}}</td>	 
			   <td>Latitude: {{bucketListItem.latitude}}</td>
			   <td>Longitude: {{bucketListItem.longitude}}</td>	
			   <td>DbId: {{bucketListItem.databaseId}}</td>
			   <td>UserName: {{bucketListItem.userName}}</td>
			   <td>
				   	<button (click)="FormEdit(bucketListItem)" id="hvJsFormEditBtn">Edit</button>	  
				</td>
			   <td>
				   <button (click)="FormDelete(bucketListItem.databaseId)" id="hvJsFormDeleteBtn">Delete</button>
			   </td>
			</tr>
		</table>
	</div>
</div>



       