<div id="body" style="background-color: #080FB5; text-align: center; font-family: Arial; height: 200px;">
	<div id="articleWrapper" style="background-color: #080FB5; height: 100%; margin-top:10px; margin-bottom: 10px">	
		<div id="article" style="background-color: #F4E4C1; height: 60%; width:50%; margin: 0 auto;">
			<div id="title" style="font-size: 16pt; color: white">A Title</div>
			<div id="textOne" style="font-size: 12pt; color: white; text-align: left"><p>Some text.</p></div>	
			<div id="textTwo" style="font-size: 12pt; color: white; text-align: left"><p>Some more text.</p></div>	
			<div id="textThree" style="font-size: 12pt; color: white; text-align: left"><p>And yet some more text.</p></div>	
		</div>
	</div>	   
</div>
