<div id="body" style="border-style: solid; border-color:#080FB5; background-color: #080FB5;">
    <div id="headerWrapper" style="margin-bottom: 2%;
									margin-top: 2%;
									margin-left: 2%;
									margin-right: 2%;">
        <div id="header" style="background-color: #F4E4C1">
            <div id="title" style="text-align: center;
										font-family: Arial;
										font-size: 20pt;
										color: #080FB5;">
                <p>A Page Title</p>
            </div>
        </div>
    </div>
    <div id="articleWrapper" style="margin-bottom: 2%;
								margin-top: 2%;
								margin-left: 2%;
								margin-right: 2%;">
        <div id="article" style="background-color: #F4E4C1">
            <div id="title" style="text-align: center;
									font-family: Arial;
									font-size: 16pt;
									color: #080FB5;">
                <p>A Section Title</p>
            </div>
            <div id="textOne" style="text-align: left;
									font-family: Arial;
									font-size: 12pt;
									color: #080FB5;">
                <p>Some text.</p>
            </div>
            <div id="textTwo" style="text-align: left;
									font-family: Arial;
									font-size: 12pt;
									color: #080FB5;">
                <p>Some more text.</p>
            </div>
            <div id="textThree" style="text-align: left;
									font-family: Arial;
									font-size: 12pt;
									color: #080FB5;">
                <p>And yet some more text.</p>
            </div>
            <div id="buttonSubmit" style="text-align: center;">
                <input type="button" style="font-family: Arial;
									font-size: 12pt;
                                    border-color: #080FB5;
                                    background-color: #F4E4C1;
									color: #080FB5;" value="Submit" />
            </div>
        </div>
    </div>
    <div id="footerWrapper" style="margin-bottom: 2%;
									margin-top: 2%;
									margin-left: 2%;
									margin-right: 2%;">
        <div id="footer" style="background-color: #F4E4C1">
            <div id="footer" style="text-align: center;
										font-family: Arial;
										font-size: 10pt;
										color: #080FB5;">
                <p>Footer Text</p>
            </div>
        </div>
    </div>
</div>
