<div class="tgimbaComponent">
    <div class="tgimbaForm">
        <table width="100%">
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Item Name:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="text" id="USER_CONTROL_EDIT_ITEM_NAME" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Date Created:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="text" id="USER_CONTROL_EDIT_DATE_CREATED" readonly />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Category:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <select id="USER_CONTROL_EDIT_ITEM_CATEGORY">
                        <option value="Hot">Hot</option>
                        <option value="Warm" selected="selected">Warm</option>
                        <option value="Cool">Cool</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Completed:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="checkbox" id="USER_CONTROL_EDIT_COMPLETED" value="Completed" checked>
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Latitude:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="text" id="USER_CONTROL_EDIT_LATITUDE" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Longitude:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="text" id="USER_CONTROL_EDIT_LONGITUDE" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <input type="button" class="button" id="hvJsEditSubmitBtn" value="Edit" onclick="MainController.Edit()" />
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="button" class="button" id="hvJsEditCancellBtn" value="Cancel" onclick="MainController.Index()" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="USER_CONTROL_EDIT_DBID" value="">
        <input type="hidden" id="USER_CONTROL_EDIT_USERNAME" value="">
    </div>
</div>
