<div class="tgimbaMain">
    <div class="tgimbaMain header">
        <div class="tgimbaMain header left">
            <input type="button" value="Menu" id="btnMainMenu" onclick="MainController.ShowMenu()" />
        </div>
        <div class="tgimbaMain header right">
            <input type="text" id="USER_CONTROL_SEARCH_TEXT_BOX" />
            <input type="button" id="USER_CONTROL_SEARCH_BUTTON" onclick="MainController.Search()" value="Search" />
        </div>

        <!-- todo format the cancel/search results display-->
        <div id="cancelSrchResults" style="display:none">
            <p>Viewing Search Results</p>
            <input type="button" id="USER_CONTROL_CANCEL_BUTTON" onclick="MainController.Index()" value="Cancel" />
        </div>

    </div>
    <div id="bucketListItems" />
</div>
