.tgimbaBody {
    background-color: #F4E4C1;
    font-family: Arial;
    font-size: 16pt;
    color: #080FB5;
}

.button {    
    font-family: Arial;
    font-size: 16pt;
    background-color: #e6d5bf;
    color: #080FB5;
}

.tgimbaBody input[type=text]  {    
    font-family: Arial;
    font-size: 16pt;
    background-color: #F4E4C1;
    color: #080FB5;
    border-style: solid;
    border-color: #080FB5;
}

.tgimbaBody input[type=password]  {    
    font-family: Arial;
    font-size: 16pt;
    background-color: #F4E4C1;
    color: #080FB5;
    border-style: solid;
    border-color: #080FB5;
}

.tgimbaBody select {    
    font-family: Arial;
    font-size: 16pt;
    background-color: #F4E4C1;
    color: #080FB5;
    border-style: solid;
    border-color: #080FB5;
}

.tgimbaComponent {
    width: 100%;
    border-style: solid;
    border-color: #080FB5;
}

.tgimbaForm table {
    /*width: 100%;*/
 }
.tgimbaForm table tr {
    /*width: 100%;*/
 }
.tgimbaForm.leftLabel {
    width: 50%; 
    text-align: right;
}
.tgimbaForm.centerLabel {
    text-align: center;
}
.tgimbaForm.centerLabel td {
    text-align: center;
}
.tgimbaForm.rightLabel {
    text-align: left;
}

.button {    
    border-style: solid;
    border-color: #080FB5;
}

.buttonSearch {    
    width: 31px;  
    height: 31px;
    vertical-align: middle;
    /*text-align: center;*/
    background-image: url("../Images/SearchFileCabinet.png");
    background-repeat: no-repeat;
    border: none;
    /*border: solid 1px;*/
}

.buttonDelete {    
    width: 31px;  
    height: 31px;
    vertical-align: middle;
    /*text-align: center;*/
    background-image: url("../Images/Delete.png");
    background-repeat: no-repeat;
    border: none;
    /*border: solid 1px;*/
}

.buttonEdit {    
    width: 31px;  
    height: 31px;
    vertical-align: middle;
    /*text-align: center;*/
    background-image: url("../Images/Edit.png");
    background-repeat: no-repeat;
    border: none;
    /*border: solid 1px;*/
}

/* menu */
.menu {
    background-image: url("../Images/MenuHamburger.png");
    width: 35px;
    height: 35px;
    border: none;
    background-repeat: no-repeat;
}

/* main page =============================================== */
.tgimbaMain {
    align-content: center;
}

/* main page-header */
.tgimbaMainheader {
    display: block;
    height:30px;
    width: 100%;
}
.tgimbaMain.header.left {
    float: left;
    width: 10%;
}
.tgimbaMain.header.right {
    float: right;
    vertical-align: middle;
}

.tgimbaMain.header.right input[type=text] {
    width: 100px;
}

/* main page-seach results */
.tgimbaMain.title {
    text-align: center;
    height:30px;
    /*width: 100%;*/
}

/* main page-seach results */
.tgimbaMainheadercenterhidden {
    display: none;
}
.tgimbaMainheadercenterdisplay {
    display: block; 
    text-align: center;
}

/* main page-bucket list items*/
.tgimbaMain div table {
    width: 100%;
}
.tgimbaMain div table td:nth-child(1) {
    width: 5%;
}
.tgimbaMain div table td:nth-child(2) {
    width: 79%;
}
.tgimbaMain div table td:nth-child(3) {
    width: 8%;
    text-align: right;
}
.tgimbaMain div table td:nth-child(4) {
    width: 8%;
    text-align: left;
}

