.statisticsPanel {    
	background: yellow;
    height: 50%;
    width: 100%;
    /*text-align: center;*/
}
.systemStatistics {
    position: fixed;
    top: 175px; 
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
}
.systemStatistics table {
    display: inline-block;
    text-align: left;
}
.horizontalLineOn {
    text-align: right;
    background-color: forestgreen;
}
.horizontalLineOff {
    text-align: right;
    background-color: gray;
    border: none;
}
.verticalLineOn {
    text-align: left;
    background-color: forestgreen;
}
.verticalLineOff {
    text-align: left;
    background-color: gray;
}

.buildStatistics {
    height: 50%;
    width: 50%;
    margin: 0 auto;
	position: relative;
	background: green;
}