<h1>Angular 6 Type Script - Login</h1>
<table width="100%">
    <tr>                   
         <td style="text-align:center">         
            <label>Username:</label>                                             
            <input type="text" [(ngModel)]="loginUsername" id="USER_CONTROL_LOGIN_USERNAME">
        </td>
    </tr>
    <tr>      
        <td style="text-align:center; font-weight:100">
            <label>Password:</label>                        
            <input type="password" [(ngModel)]="loginPassword" id="USER_CONTROL_LOGIN_PASSWORD">
        </td>
    </tr>
    <tr>
        <td style="text-align:center">            
            <button (click)="Login(loginUsername, loginPassword)" id="hvJsLoginBtn">Login</button>	 
            <button (click)="Register()" id="hvJsRegisterPanelBtn">Register</button>
        </td>
    </tr>
</table>