<div class="tgimbaComponent">
    <div class="tgimbaForm">
        <table>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>User Name:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="text" id="USER_CONTROL_REGISTRATION_USERNAME" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Email:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="text" id="USER_CONTROL_REGISTRATION_EMAIL" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Password:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="password" id="USER_CONTROL_REGISTRATION_PASSWORD" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <label>Confirm Password:</label>
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="password" id="USER_CONTROL_REGISTRATION_CONFIRM_PASSWORD" />
                </td>
            </tr>
            <tr>
                <td class="tgimbaForm leftLabel">
                    <input type="button" id="hvJsRegisterBtn" value="Register" onclick="RegistrationController.Register()" />
                </td>
                <td class="tgimbaForm rightLabel">
                    <input type="button" id="hvJsRegisterCancelBtn" value="Cancel" onclick="RegistrationController.Cancel()" />
                </td>
            </tr>
        </table>
    </div>
</div>